CompileFlags:
  CompilationDatabase: /home/luc02/Projects/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /home/luc02/Projects/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug/compile_macros.h
